# .env.example
ELASTICSEARCH_CLOUD_ID=<your_cloud_id>
ELASTICSEARCH_USERNAME=<elastic_user>
ELASTICSEARCH_PASSWORD=<password>

DATABASE_URL=jdbc:mariadb://<host>:<port>/<db_name>
DATABASE_HOST=<host>
DATABASE_PORT=3306
DATABASE_NAME=<db_name>
DATABASE_USERNAME=<db_user>
DATABASE_PASSWORD=<db_password>

CLOVA_API_KEY=

CLOVA_API_HOST=clovastudio.stream.ntruss.com
CLOVA_APP_TYPE=testapp
CLOVA_MODEL_ID=HCX-007
CLOVA_RATE_LIMIT_PER_MIN=15
PRIORITY_PROFILE=intraday_kr
PROMPT_TOP_EXAMPLES=12
